@keyframes btn {
  0% {
    transform: translateX(0);
  }

  15% {
    transform: translateX(-10px);
  }

  30% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(0);
  }

  65% {
    transform: translateX(5px);
  }

  
  80% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }  
}