// COLOR
$color-white: white;
$color-black: black;
$color-blue: #5A61ED;
$color-red: red;

// FONT-SIZE
$font-13: 13px;
$font-14: 14px;
$font-22: 22px;
$font-49: 49px;

// FONT-WEIGHT
$font-w-200: 200;
$font-w-400: 400;
$font-w-500: 500;
$font-w-700: 700;


// FONT-FAMILY
$font-family: 'Work Sans', sans-serif;

// MARGIN
$m-0-5: .5rem;
$m-1-5: 1.5rem;

// PADDING
$p-0-3: 0.3rem;
$p-0-5: 0.5rem;
$p-1: 1rem;
$p-1-5: 1.5rem;
$p-2-5: 2.5rem;
